In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv("terrorismData.csv")

In [2]:
df.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

The Most Dangerous city in Jammu and Kashmir and the terrorist group which is most active in that city?
Print count of number of attacks in that city as integer value.
Note:Ignoring the Unknown Terrorist Group.Here Dangerous related with the number of terrorist attacks.
Output Format :
City NumberOfAttack Group

In [3]:
df=df[df["State"]=="Jammu and Kashmir"]
df.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
21744,1984,4,17,India,Jammu and Kashmir,South Asia,Bhela,33.315527,74.622476,Assassination,2.0,0.0,Gurbachan Singh Sandhar (Sikh lawyer) and wife,NaN,Sikh Extremists,Private Citizens & Property,Unknown
22108,1984,5,20,India,Jammu and Kashmir,South Asia,Jammu,32.726602,74.857026,Bombing/Explosion,1.0,0.0,bridge over a stream,NaN,Unknown,Transportation,Explosives
29677,1986,12,11,India,Jammu and Kashmir,South Asia,Madora,33.934929,75.154160,Bombing/Explosion,1.0,5.0,general post office complex,NaN,Unknown,Government (General),Unknown
33202,1988,1,21,India,Jammu and Kashmir,South Asia,Mand,32.888165,74.985168,Armed Assault,2.0,0.0,police unit,NaN,Unknown,Police,Firearms
33372,1988,2,7,India,Jammu and Kashmir,South Asia,Kherawali,32.523889,74.974444,Armed Assault,4.0,5.0,marriage reception,NaN,Sikh Extremists,Private Citizens & Property,Firearms

In [4]:
unique_cities=df["City"].unique()

In [5]:
import pandas as pd

terrorism_data = pd.read_csv('terrorismData.csv')

# filter data for Jammu and Kashmir state
jk_data = terrorism_data[terrorism_data['State']=='Jammu and Kashmir']

# find the most dangerous city in Jammu and Kashmir
most_dangerous_city = jk_data['City'].value_counts().index[0]

# filter data for the most dangerous city in Jammu and Kashmir
most_dangerous_city_data = jk_data[jk_data['City']==most_dangerous_city]

# filter out attacks by unknown terrorist groups
most_dangerous_city_data = most_dangerous_city_data[most_dangerous_city_data['Group'] != 'Unknown']

# find the terrorist group which is most active in the most dangerous city
most_active_group = most_dangerous_city_data['Group'].value_counts().index[0]

# print the output
print(most_dangerous_city, int(most_dangerous_city_data.shape[0]), most_active_group)

Srinagar 351 Muslim Separatists

Problem Statement :
There was formation of new government in India on 26 May 2014. So current government's span is from 26th May 2014 to current. Find out two things from this period-
1. Total number of attacks done in this period in India. Find this count as integer.
2. Which Terrorist group was most active in this period in India. Most active means, group which has done maximum number of attacks. 
3.Ignore the Unknown group. 
Output Format :
TotalAttacks MostActiveTerroristGroup

In [24]:
import pandas as pd

terrorism_data = pd.read_csv('terrorismData.csv',skipinitialspace=True)

#filter data by country
country_data=terrorism_data[terrorism_data["Country"]=='India']

#filter data from time period 2014
year_data=country_data[country_data['Year']>=2014]

#filter data from month
month_data=year_data[year_data['Month']>=5]

#filter data from day
day_data=month_data[month_data["Day"]>=26]

#ignoring unknown group
group_data=day_data[day_data["Group"]!='Unknown']

#finding most active group
Group_name=group_data.Group.value_counts().index[0]
print(day_data.shape[0],Group_name)

478 Maoists

In [37]:
import pandas as pd
from collections import Counter

# importing the data set
df = pd.read_csv('terrorismData.csv', skipinitialspace=True)
# Filtering for date 26th May, 2014
new_df = df[(df.Country == 'India') &  (df.Year >= 2014)] 
new_df  = new_df[~((new_df.Year ==2014) & (new_df.Month<5))]
new_df = new_df[~((new_df.Month ==5) & (new_df.Day<26) & (new_df.Year==2014))]
# Counting total number of attacks
c = len(new_df)
# Filtering out unknown groups
new_df = new_df[new_df.Group != 'Unknown']
# counting the most common group
group = Counter(new_df.Group)
g = group.most_common(1)
# printing the result
print('{} {}'.format(c,g[0][0]))

3336 Maoists

In [48]:
import pandas as pd

terrorism_data = pd.read_csv('terrorismData.csv',skipinitialspace=True)

# Filter data for India from time period 2014
india_data = terrorism_data[(terrorism_data['Country'] == 'India') & (terrorism_data['Year'] >= 2014) & (terrorism_data['Month'] >= 5) & (terrorism_data['Day'] >= 26)]

# Ignore unknown group
group_data = india_data[india_data['Group'] != 'Unknown']

# Find most active group
most_active_group = group_data['Group'].value_counts().index[0]

# Print the results
print(india_data.shape[0], most_active_group)

478 Maoists

Problem Statement :
Find the frequency of the Casualty in Red Corridor states and in Jammu and Kashmir ?Here Frequency is (Total Casualty/Total Number of a year)
Print frequency as integer value.
Note:Red Corridor state includes Jharkhand, Odisha, Andhra Pradesh, and Chhattisgarh. Here Casualty=Killed +Wounded.Don't fill the nan value present in Killed and Wounded feature.

In [91]:
## Open and read data file as specified in the question
## Print the required output in given format
import pandas as pd

terrorism_data = pd.read_csv('terrorismData.csv',skipinitialspace=True)

#filter data according to country = India
df=terrorism_data[terrorism_data["Country"]=='India']

df["Casualty"]=df['Killed']+df['Wounded']

red_state=["Jharkhand","Odisha","Andhra Pradesh","Chhattisgarh"]

#filter data according to red_state and jk

df_redstate=df[df['State'].isin(red_state)]
df_jk=df[df['State']=="Jammu and Kashmir"]

#sum of casualty 
casualty_redstate=df_redstate.Casualty.sum()
casualty_jk=df_jk.Casualty.sum()

years=len(set(terrorism_data['Year']))

print(casualty_redstate//years,casualty_jk//years)

115.0 261.0

C:\Users\Shavvy\AppData\Local\Temp\ipykernel_11868\386749742.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Casualty"]=df['Killed']+df['Wounded']

In [92]:
####reference code =-------------------
import csv
import pandas as pd
import numpy as np
df=pd.read_csv('terrorismData.csv')
years=len(set(df['Year']))
df=df[df.Country=='India']
df['Casualty']=df['Killed']+df['Wounded']
a=df[df.State=='Jammu and Kashmir'] 
b=df[(df.State=='Jharkhand') | (df.State=='Odisha') | (df.State=='Andhra Pradesh') | (df.State=='Chhattisgarh')]
ans=int(np.sum(a['Casualty']))
ans1=int(np.sum(b['Casualty']))
print(ans1//years,ans//years)

115 261

Problem Statement :
Most Deadliest attack in a history of HumanKind?
Print count of Killed people as integer value.
Note: Here Deadliest attack means, in which the most number of people killed.

In [87]:
import pandas as pd

# Read the dataset into a pandas dataframe
df = pd.read_csv('terrorismData.csv',skipinitialspace=True)

# Drop any rows with missing values in the 'Killed' column
df = df.dropna(subset=['Killed'])

# Sort the dataframe by the 'Killed' column in descending order
df = df.sort_values('Killed', ascending=False)

# Get the details of the attack with the highest number of killed people
deadliest_attack = df.iloc[0]

# Print the count of killed people, country, and terrorist group for the deadliest attack
print('{} {} {}'.format(int(deadliest_attack['Killed']), deadliest_attack['Country'], deadliest_attack['Group']))

1570 Iraq Islamic State of Iraq and the Levant (ISIL)

Problem Statement :
Find out the Country with Highest Number of Terror Attack and in which year the most number of terrorist attack happened in that country ?
Print count of terror attacks as integer value.
Output Format :
Country NumberOfAttack Year

In [88]:
import pandas as pd

# Load the dataset
df = pd.read_csv('terrorismData.csv', encoding='ISO-8859-1')

# Get the country with highest number of terrorist attacks
country = df['Country'].value_counts().index[0]

# Get the year with the most number of terrorist attacks in the country
year = df[df['Country'] == country]['Year'].value_counts().index[0]

# Get the total number of terrorist attacks in the country
num_attacks = df[df['Country'] == country].shape[0]

# Print the results
print("{} {} {}".format(country, num_attacks, year))

Iraq 24636 2014